---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<!-- HTML Section -->
<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to Astro.</h1>
	</main>
</Layout>

<!-- Styles CSS -->
<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}
</style>
