---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!-- HTML Section --><!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div id="wrapper">
			<Navbar />
			<slot />
		</div>
		<Footer />
	</body>
</html>

<!-- Styles CSS -->
<style is:global>
	* {
		position: relative;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	:root {
		font-family: system-ui, sans-serif;
		font-size: 16px;

		--color-primary: #5055f4;
		--color-secondary: #37d7b4;
		--color-accent: #9596b7;
		--color-black: #2c2c3b;
		--color-gray: #5f5f74;
		--color-white: #f2f2f9;
	}
	html,
	body {
		color: var(--color-black);
	}
	#warpper {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	/* Simple tags */
	a {
		text-decoration: none;
		color: inherit;
	}
	button {
		border: none;
		background: none;
		cursor: pointer;
	}
	ul {
		list-style: none;
	}
	/* h1,h2,h3,h4,h5,h6 {
		font-weight: 500;
	} */
</style>
